/* Author: Emilio Rios Ochoa aka. Emilio Rivers
 * Github: e-Rivers
 *
 * CSS file to manage individual modifications
 *
 */

@font-face {
    font-family: "Nasa21";
    src: url("../assets/fonts/nasa21.ttf");
}

:root {
    -webkit-user-select: none;
    user-select: none;
    font-family: "Nasa21";
    overflow: hidden;
}

::selection {
    background: green;
}

p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#WelcomeMsg { 
    font-size: 250%;
}

#LoginField {
    width: 55%;
    height: 40%;
    position: absolute;
    left: 25%;
    top: 25%;
}

#SessionField {
    width: 25%;
    height: 20%;
    position: absolute;
    left: 55%;
    top: 2.5%;
}

#SleepField {
    width: 15%;
    height: 15%;
    position: absolute;
    left: 65%;
    top: 67.5%;
}

#CalendarField {
    width: 15%;
    height: 25%;
    position: absolute;
    left: 81.5%;
    top: 50%;
    text-align: center;
    font-size: 80%;
}

#UsersField {
    width: 16%;
    height: 25%;
    position: absolute;
    left: 47.5%;
    top: 67.5%;
}

#RebootField {
    width: 12%;
    height: 20%;
    position: absolute;
    left: 11.5%;
    top: 25%;
}

#ClockField {
    width: 19.5%;
    height: 17.5%;
    position: absolute;
    left: 4%;
    top: 47.5%;
    text-align: center;
    font-size: 120%;
    white-space: nowrap;
}

#ShutdownField {
    width: 8%;
    height: 13.5%;
    position: absolute;
    left: 4%;
    top: 9%;
}

#dayNumber {
    color: #00FF00;
    font-size: 200%;
}

#secNumber {
    color: #00FF00;
    font-size: 60%;
}

#UserPicture {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 50%;
    height: 50%;
    margin-top: 15%;
    border: 2px solid #017E01;
}

#UserName {
    text-align: center;
    font-size: 50%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    transform: translate(-50%, -85%);
    top: 85%;
    left: 50%;
}

#LoginPicture {
    position: absolute;
    transform: translate(-10%, -50%);
    top: 50%;
    left: 10%;
    width: 30%;
    height: 70%;
    border: 2px solid #017E01;
}

#LoginMsg {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0;
    position: absolute;
    font-size: 125%;
    white-space: nowrap;
}

#LoginPassword {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 20%;
    padding-left: 5%;
    padding-right: 5%;
    border: 0;
    outline: none;
    color: white;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(7,7,137,0.75));
    border-bottom: 2px solid white;
}

#UserToLogIn {
    color: #00FF00;
    font-size: 75%;
}

#LoginSidePicture {
    width: 50%;
    height: 70%;
    position: absolute;
    transform: translate(-90%, -50%);
    top: 50%;
    left: 90%;
}

#SessionPicture {
    width: 30%;
    height: 70%;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    position: absolute;
    margin-right: 10%;
}

#SessionName {
    position: absolute;
    left: 80%;
    width: 50%;
    top: 50%;
    transform: translate(-75%, -50%);
    font-size: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin: 0;
}

#BlackFade {
    top: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0;
    transition: 1.25s ease-in;
    z-index: -10;
}

